*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
header{
    min-height: 10vh;
    background-color: azure;
}
header h1{ display: inline;
border: solid aqua; 
border: 0.3px;
}

nav.primera {
display: inline;
}
nav { 
    display: inline;
    min-height: 5vh;
    padding: 15%;
    margin-left: 1.3%;
    padding: 0%;
    border: 10px 10px;
   position: relative ;
   left: 20%;
   top: 15px;
}

a{ padding: 0.5rem 1rem;
    border-radius: 6rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(44, 91, 179);
}
a:hover{
    background-color: greenyellow;
}
a:focus { background-color: rgb(3, 66, 32);}

header figure img{
    width: 100%;
}
h1.titulo { border: solid;
    padding: 0.3rem;
    text-align: center;
    margin-top: 0%;
    display: block;
}

figure img{
 display: block;
 height: 350px;
 background-color: rgb(14, 1, 1);
}

figure.logo{
    display: inline-block;
    height: 200px;
    width: 200px;
}
figure.logo img{
    width: 60%;
    height: 60%; 
}
section {
    display: inline-block;
    width: 100vh;
    height: 100%; 
   vertical-align: top;
}
section.mail a {
    background-color: white;
    padding: 0%;
    color:rgb(78, 123, 221)
}
figure  img{
    display: inline;
    width: 100%;
    height: 60%; 
    vertical-align: top;
}
figure.imagen {
    display: inline-block;
    width: 200px;
    height: 200px; 
   vertical-align: top;
   margin-left: 0%;
   position: relative;
   left: 5%;
   
}
figure.imagen img{
    background-color: rgb(15, 15, 15);
    width: 100%;
    height:  100%;
    bottom: 10px;
    margin: 0%;
}

header.nueva{ display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0%;
}
header.nueva nav{
    padding: 0;
}

main h1, h2, .parrafo{
    text-align: center;
}
p.subrrayado{ text-decoration: underline; 
    font-style: italic; 
}


section.primera{
    display: flex;
padding: 10px;
width: 100%;}

section.ultima{  display:flex;
padding: 10px;
text-align: center; }
section.ultima p{ flex-grow: 1;
     }
     div{ 
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
     }
div table{
    width: 80vh;
}
div.listas{ display: block;
text-align: justify;}
dt {font-weight: 700;
}
li, dd{
    margin-left :2rem ;
}
span {
    font-weight: 700;
}
ul{ list-style: circle;}
.imgformulario{
    height: 100%;
}
.separar{
    display: block;
    text-align: justify;
}
label {
    padding: 0.5rem;
}
div.separar{
    padding: 0.5rem;
}